@charset "utf-8";

.inp-wrap {
    background: #FFFFFF;
    border: 1px solid #E2E8ED;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.13);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.inp-wrap.clear {
    background: none;
    border: none;
    box-shadow: none;
}

.inp-wrap input[type="text"], .inp-wrap input[type="password"] {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding: 0 28px;
    border: none;
    line-height: 44px;
    vertical-align: middle;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}